<%# css読み込み %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'header' %>
  <%= stylesheet_link_tag 'user/registration' %>
<% end %>

<div class="main">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%# <%= form_for model: @user, url:users_path, local: true do |f| %> 
    <div class="name-email">
      <div class="name">
        <img src="../../../assets/images/name.jpg" alt="名前" class="name-image">
        <div class="name-position">
          <div class="name-title">Name</div>
          <%= f.text_field :nickname, class: "name-form", autofocus: true, placeholder: "名前を入力してください", id: "name"%>
        </div>
      </div>
      <div class="email">
        <img src="../../../assets/images/email.jpg" alt="email" class="email-image">
        <div class="email-position">
          <div class="email-title">Email</div>
          <%= f.email_field :email, class: "email-form", placeholder: "＠マークを含む半角文字で入力してください", id: "email"%>

          <%# <input type="text" class="email-form" placeholder="＠マークを含む半角文字で入力してください" name="email" id="email"> %>
        </div>
      </div>
    </div>

    <div class="passwords">
      <div class="password">
        <img src="../../../assets/images/password.jpg" alt="password" class="password-image">
        <div class="password-position">
          <div class="password-title">Password</div>
          <%= f.password_field :password, class: "password-form", placeholder: "６文字以上の半角英数混合で入力してください", id: "password" %>
          <%# <input type="text" class="password-form" placeholder="６文字以上の半角英数混合で入力してください" name="password" id="password"> %>
        </div>
      </div>
      <div class="password-comfiramation">
        <img src="../../../assets/images/password.jpg" alt="password" class="password-image">
        <div class="password-comfiramation-position">
          <div class="password-comfiramation-title">Password confiramation</div>
          <%= f.password_field :password_confirmation,  class: "password-form", placeholder: "６文字以上の半角英数混合で入力してください", id: "password" %>
          <%# <input type="text" class="password-form" placeholder="６文字以上の半角英数混合で入力してください" name="password" id="password"> %>
        </div>
      </div>
    </div>
  <% end %>


  <div class="lower">
    <div class="signs">
      <div class="signup">SignUp</div>
      <div class="in-top">
        <div class="signin">
          <p id="session-page"><a href="#" style="text-decoration:none;">SignIn</a></p>
        </div>
        <div class="top">
          <p id="pageTop"><a href="#" style="text-decoration:none;">Top</a></p>
        </div>
      </div>
    </div>
    <div class="error-messages">
      メールアドレスは＠を含む半角英数<br>パスワードは６文字以上の半角英数混合<br>名前を入力してください<br>メールアドレスを入力してください<br>パスワードを入力してください
    </div>
    <form>
      <div class="submit-form">
        <input class="submit" type="submit" value="SignUp"> 
      </div>
    </form>
  </div>
</div>