<%# css読み込み %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'header' %>
  <%= stylesheet_link_tag 'user/registration' %>
<% end %>

<div class="main">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="name-email">
      <div class="name">
        <%= image_tag "name.jpg", alt: "name", class:"name-image" %>
        <div class="name-position">
          <div class="name-title">Name</div>
          <%= f.text_field :nickname, class: "name-form", autofocus: true, placeholder: "名前を入力してください", id: "name-title"%>
        </div>
      </div>
      <div class="email"> 
        <%= image_tag "email.jpg", alt: "email", class: "email-image" %>
        <div class="email-position">
          <div class="email-title">Email</div>
          <%= f.email_field :email, class: "email-form", placeholder: "＠マークを含む半角文字で入力してください", id: "email-title"%>

        </div>
      </div>
    </div>

    <div class="passwords">
      <div class="password">
        <%# <img src="../../../assets/images/password.jpg" alt="password" class="password-image"> %>
        <%= image_tag "password.jpg", alt: "password", class:"password-image" %>

        <div class="password-position">
          <div class="password-title">Password</div>
          <%= f.password_field :password, class: "password-form", placeholder: "６文字以上の半角英数混合で入力してください", id: "password-title" %>
        </div>
      </div>
      <div class="password-comfiramation">
        <%# <img src="../../../assets/images/password.jpg" alt="password" class="password-image"> %>
        <%= image_tag "password.jpg", alt: "password", class:"password-image" %>
        <div class="password-comfiramation-position">
          <div class="password-comfiramation-title">Password confiramation</div>
          <%= f.password_field :password_confirmation,  class: "password-form", placeholder: "６文字以上の半角英数混合で入力してください", id: "password-comfiramation-title" %>
        </div>
      </div>
    </div>


    <div class="lower">
      <div class="signs">
        <div class="signup">SignUp</div>
        <div class="in-top">
          <div class="signin">
            <%= link_to "SignIn", new_user_session_path, id: "session-page" %>
          </div>
          <div class="top">
            <%= link_to "Top", root_path, id: "pageTop" %>
          </div>
        </div>
      </div>
      <div class="error-messages">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>
      <div class="submit-form">
       <%= f.submit "Sign up", class: "submit", autofocus: true %>
      </div>
  <% end %>
  </div>
</div>