<%# css読み込み %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'header' %>
  <%= stylesheet_link_tag 'shares' %>
<% end %>

<div class="main">
  <div class="head-container">
    <div class="top-container">
      <h1 class="top">ShareArticle</h1>
    </div>
  </div>
  <div class="form-container">

    <%= form_with model: @share, local: true do |f| %>

          <div class="submit-form">
            <p class= "or-text"><%= link_to '削除', share_path(@share.id), method: :delete, class:"delete-btn" %></p>
            <%= f.submit "Share", class:"submit" %>
          </div>
          <div class="main-form">
            <div class="title">
              <label for="title">Title</label>
              <%= f.text_field :title, class:"title-form", id:"title" %>
            </div>
            <div class="url">
              <label for="url">URL</label>
              <%= f.text_field :share_url, class:"url-form", id:"url" %>
            </div>
            <div class="comment">
              <p><label for="comment">Comment</label></p>
              <%= f.text_area :comment, class:"comment-form", rows:"3", id:"comment" %>
            </div>
            <div class="category">
              <label for="category">Category</label>
              <%=  f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-form", id:"categry"}) %>
            </div>
          </div>
        <% end %>

  </div>
</div>