<%# css読み込み %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'header' %>
  <%= stylesheet_link_tag 'index' %>
<% end %>

<div class="main">
  <div class="head-container">
    <div class="top-links">
      <a href="#">Login</a>
      <a href="#">SignUp</a>
    </div>
  </div>
  <h1 class="category heading"><a href="shares">Categories</a></h1>
  <div class="category-container">
    <div class="category-lists">
      <% @categories.each do |category| %>
        <%= link_to category.name, shares_path(id: category.id), class: "category-tag" %>
      <% end %>
    </div>
  </div>

  <%# カテゴリー別で表示するかどうか %>
  <% if @path_id %>
    <h1 class="index heading"><%= @categories.find(@path_id).name %></h1>
  <% else %>
    <h1 class="index heading">All Shares</h1>
  <% end %>
  <div class="share-table">
    <% @shares.each do |share| %>
      <div class="share-content">
        <%# 投稿ユーザーなら編集画面へ遷移 %>
        <% if user_signed_in? && current_user.id == share.user.id %>
          <a class="share-link", href="<%= edit_share_path(share) %>">
        <% else %>
          <a class="share-link", href="<%= share.share_url %>">
        <% end %>
          <h2><%= share.title %></h2>
          <p><%= safe_join(share.comment.split("\r\n"), "<br />".html_safe) %></p>
        </a>
        <%= link_to share.user.nickname, "#", class: "user-link" %>
      </div>
    <% end %>
  </div>
</div>