<%# css読み込み %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'header' %>
  <%= stylesheet_link_tag 'index' %>
<% end %>

<div class="main">
  <div class="head-container">
    <div class="top-links">
    <% if user_signed_in? %>
      <%= link_to "NewShare",  new_share_path %>
      <%= link_to "Logout",  destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "SignUp" , new_user_registration_path %>
      <%= link_to "Login" , new_user_session_path %>
    <% end %>
    </div>
  </div>
  <h1 class="category heading">Categories</h1>
  <div class="category-container">
    <div class="category-lists">
      <a href="#" class="category-tag">ITニュース</a>
      <a href="#" class="category-tag">プログラミング</a>
      <a href="#" class="category-tag">デザイン</a>
      <a href="#" class="category-tag">ビジネス</a>
      <a href="#" class="category-tag">プレゼンテーション</a>
      <a href="#" class="category-tag">仕事術</a>
      <a href="#" class="category-tag">自己啓発</a>
      <a href="#" class="category-tag">健康管理</a>
      <a href="#" class="category-tag">メンタルケア</a>
      <a href="#" class="category-tag">政治ニュース</a>
      <a href="#" class="category-tag">文化・思想</a>
      <a href="#" class="category-tag">その他</a>
    </div>
  </div>
  <h1 class="index heading">All Shares</h1>          
  <div class="share-table">
    <!-- indexアクションの定義後に書き換える↓ -->


      <div class="share-content">
        <a class="share-link", href="https://qiita.com/fantm21/items/430a1486132c8938ae1e">
          <h2>Mac版のChromeで使えるショートカットキー</h2>
          <p>Chromeで使えるショートカットキーの一覧はChromeのヘルプ内で紹介されています。今回はその中からよく使うであろうと思ったショートカットキーを紹介します.</p>
        </a>
        <a class="user-link", href="###">Katsuji</a>
      </div>

      <div class="share-content">
        <a class="share-link", href="https://qiita.com/fantm21/items/430a1486132c8938ae1e">
          <h2>Mac版のChromeで使えるショートカットキー</h2>
          <p>Chromeで使えるショートカットキーの一覧はChromeのヘルプ内で紹介されています。今回はその中からよく使うであろうと思ったショートカットキーを紹介します.</p>
        </a>
        <a class="user-link", href="###">Katsuji</a>
      </div>

      <div class="share-content">
        <a class="share-link", href="https://qiita.com/fantm21/items/430a1486132c8938ae1e">
          <h2>Mac版のChromeで使えるショートカットキー</h2>
          <p>Chromeで使えるショートカットキーの一覧はChromeのヘルプ内で紹介されています。今回はその中からよく使うであろうと思ったショートカットキーを紹介します.</p>
        </a>
        <a class="user-link", href="###">Katsuji</a>
      </div>

      <div class="share-content">
        <a class="share-link", href="https://qiita.com/fantm21/items/430a1486132c8938ae1e">
          <h2>Mac版のChromeで使えるショートカットキー</h2>
          <p>Chromeで使えるショートカットキーの一覧はChromeのヘルプ内で紹介されています。今回はその中からよく使うであろうと思ったショートカットキーを紹介します.</p>
        </a>
        <a class="user-link", href="###">Katsuji</a>
      </div>

      <div class="share-content">
        <a class="share-link", href="https://qiita.com/fantm21/items/430a1486132c8938ae1e">
          <h2>Mac版のChromeで使えるショートカットキー</h2>
          <p>Chromeで使えるショートカットキーの一覧はChromeのヘルプ内で紹介されています。今回はその中からよく使うであろうと思ったショートカットキーを紹介します.</p>
        </a>
        <a class="user-link", href="###">Katsuji</a>
      </div>

      <div class="share-content">
        <a class="share-link", href="https://qiita.com/fantm21/items/430a1486132c8938ae1e">
          <h2>Mac版のChromeで使えるショートカットキー</h2>
          <p>Chromeで使えるショートカットキーの一覧はChromeのヘルプ内で紹介されています。今回はその中からよく使うであろうと思ったショートカットキーを紹介します.</p>
        </a>
        <a class="user-link", href="###">Katsuji</a>
      </div>

      <div class="share-content">
        <a class="share-link", href="https://qiita.com/fantm21/items/430a1486132c8938ae1e">
          <h2>Mac版のChromeで使えるショートカットキー</h2>
          <p>Chromeで使えるショートカットキーの一覧はChromeのヘルプ内で紹介されています。今回はその中からよく使うであろうと思ったショートカットキーを紹介します.</p>
        </a>
        <a class="user-link", href="###">Katsuji</a>
      </div>

      <div class="share-content">
        <a class="share-link", href="https://qiita.com/fantm21/items/430a1486132c8938ae1e">
          <h2>Mac版のChromeで使えるショートカットキー</h2>
          <p>Chromeで使えるショートカットキーの一覧はChromeのヘルプ内で紹介されています。今回はその中からよく使うであろうと思ったショートカットキーを紹介します.</p>
        </a>
        <a class="user-link", href="###">Katsuji</a>
      </div>

      <div class="share-content">
        <a class="share-link", href="https://qiita.com/fantm21/items/430a1486132c8938ae1e">
          <h2>Mac版のChromeで使えるショートカットキー</h2>
          <p>Chromeで使えるショートカットキーの一覧はChromeのヘルプ内で紹介されています。今回はその中からよく使うであろうと思ったショートカットキーを紹介します.</p>
        </a>
        <a class="user-link", href="###">Katsuji</a>
      </div>

      <div class="share-content">
        <a class="share-link", href="https://qiita.com/fantm21/items/430a1486132c8938ae1e">
          <h2>Mac版のChromeで使えるショートカットキー</h2>
          <p>Chromeで使えるショートカットキーの一覧はChromeのヘルプ内で紹介されています。今回はその中からよく使うであろうと思ったショートカットキーを紹介します.</p>
        </a>
        <a class="user-link", href="###">Katsuji</a>
      </div>


  </div>
</div>
   